.footer-form {
  display: flex;
  flex-direction: column;

  // &__field {
  //   display: flex;
  // }
}

.footer-form__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
.footer-form__input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px var(--button-shadow));
  border-radius: 4px;

  background-color: var(--hero-footer-bgr-color);
  color: var(--primary-white-color);
}
