.page-header {
  position: relative;
  border-bottom: 1px solid var(--header-line-color);
}

.page-header__content {
  @include centeredFlex;
  justify-content: space-between;

  background-color: var(--primary-white-color);
}
