.hero {
  max-width: 1600px;
  height: 400px;
  padding: 118px 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--hero-footer-bgr-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-img.jpg');
  background-size: cover;

  @media screen and (min-width: 768px) {
    padding-right: 204px;
    padding-left: 204px;
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button--primary {
  @extend %button;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: block;

  min-width: 200px;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px var(--button-shadow);
}
