.site-nav {
  @include centeredFlex;
}

.site-nav__list {
  @extend %list;
  @include centeredFlex;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--time-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
