.team-section {
  background-color: var(--button-bgr-color);
}
.team-list {
  @extend %list;
  // display: flex;

  &__item {
    // width: calc((100%-90px) / 4);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  // &__item:not(:last-child) {
  //   margin-right: var(--card-set-gap);
  // }

  .team-list__image {
    display: block;
  }
}

.team-card {
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);
  padding-left: 32px;
  padding-right: 32px;

  background-color: var(--primary-white-color);
}

.team-card__subtitle {
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 10px;
}

.team-card__label {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 16px;
}

.social-icons--color {
  background-color: var(--primary-white-color);
  color: var(--social-icons-color);
}
