.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}
